.wrapper {
  max-width: 100%;
  clear: both;
  margin: 0;
  position: relative;
  overflow: hidden;

  &--header {
    background-color: $black;
    margin: 0;
    z-index: 0;

    section * {
      margin: 0;
    }
  }

  &--navigation {
    background: $white;
  }

  &--main {
    background: $white;
  }

  &--footer {
    border-top: 1px solid #ddd;
    background-color: #333;
  }

}
