.wrapper {
  max-width: 100%;
  clear: both;
  margin: 0;
  position: relative;
  overflow: hidden;

  &--header {
    background-color: $white;
    margin: 0;
    z-index: 2;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 4px -2px #999;

    section * {
      margin: 0;
    }
  }

  &--navigation {
    @include margin-top(4);

    background: $off-white;
  }

  &--main {
    background: $off-white;
  }

  &--footer {
    border-top: 1px solid #ddd;
    background-color: #333;
  }

}
