.branding {

  &__site-logo {
    min-width: 75px;
  }

  &__site-name {
    font-family: $sans;
    font-size: 4em;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    top: 77px;
    left: 0;
    text-align: center;
    a {
      color: $white;
    }
  }

}
