.branding {

  &__site-logo {
    min-width: 75px;
  }

  &__site-name {
    font-family: $sans;
    font-size: 3em;
    text-transform: uppercase;
    width: 100%;
    //top: 77px;
    left: 0;
    text-align: center;
    line-height: 1;

    a {
      color: $black;
      background: url(../images/logo.png) left 2px no-repeat;
      padding-left: 80px;
    }
  }

}
